<head>
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")}} 
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js")}}
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css")}}
<!--
           
            -->
{{include 'web2py_ajax.html'}}
<style>

input.selected {
    background: orange;
}

div.line {
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    height: 3px;
    background: gray;
    position: absolute;

}

#line1 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inherit;

}

#line2 {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    display: inherit;

}

#crossbox {
    display: none;
    background: #fff;
    border: 3px solid gray;
    position: absolute;
    opacity: 0.4;
}
</style>

<script>

var crossBox = $('<div id="crossbox"></div>');
var crossLine1 = $('<div class="line" id="line1"></div>');
var crossLine2 = $('<div class="line" id="line2"></div>');
crossBox.append(crossLine1);
crossBox.append(crossLine2);
crossBox[0].addEventListener('dragleave', function(event) {
                                                event = event || window.event;
                                                if(event.target.id == "crossbox") {
                                                    if(!(event.relatedTarget.id == "line1"
                                                        || event.relatedTarget.id == "line2")) {

                                                        crossBoxHide();
                                                        crossBoxOver = false;
                                                        
                                                    }
                                                }});
                                                    
crossBox[0].addEventListener('drop', function(event) { crossBoxHide(); handleDrop(event); crossBoxOver = false});
crossBox[0].addEventListener('dragover', function (event) { handleDragOver(event) });

function handleDragOver(event) {
    event.stopPropagation();
    event.preventDefault();
    event.dataTransfer.dropEffect = 'copy';
}

function crossBoxResizeAndPosition(crossElementID) {

    var crossElement = $('#'+crossElementID);
    var hypotenuse = Math.sqrt(Math.pow(crossElement.width(), 2) + Math.pow(crossElement.height(), 2));
    var angle = Math.atan2(crossElement.height(), crossElement.width()) * 180.0/Math.PI;
   
    crossBox.width(crossElement.width())
                .height(crossElement.height());

    
    crossLine1.css({
        'transform': 'rotate('+angle+'deg)',
        '-moz-transform': 'rotate('+angle+'deg)', 
        '-webkit-transform': 'rotate('+angle+'deg)'})
        .width(hypotenuse);
        
    crossLine2.css({
        'transform': 'rotate(-'+angle+'deg)', 
        '-moz-transform': 'rotate(-'+angle+'deg)', 
        '-webkit-transform': 'rotate(-'+angle+'deg)', 
        'top': crossElement.height()})
        .width(hypotenuse);

    elementOffset = crossElement.offset();

    crossBox.css({
            'top': crossElement.css('top'),
            'left': crossElement.css('left')
            });

}
   
function crossBoxHide() {
    crossBox.fadeOut(100);
}

function crossBoxShow() {
    crossBox.fadeIn(100);
}

var crossBoxOver = false;

function handleDragEnter(event) {
    event.stopPropagation();
    event.preventDefault();
    crossBoxOver = this;
    crossBoxResizeAndPosition(this.id);
    crossBoxShow();
}

function handleDrop(event) {
    event.stopPropagation();
    event.preventDefault();
    var box_id = crossBoxOver.id.substr(1);
    var contentFile = event.dataTransfer.files[0];
    var fd = new FormData();
    fd.append("page_id", "{{=page.id}}");
    fd.append("box_id", box_id);
    fd.append("contentFile", contentFile);
    fd.append("contentFileName", contentFile.name);
    fd.append("contentFileType", contentFile.type);
    fd.append("contentFileSize", contentFile.size);
    xhr = new XMLHttpRequest();
    xhr.open("POST", "{{=URL('call/run/upload_content')}}" , true);
    xhr.send(fd);
    crossBoxOver.innerHTML = "Content updated - refresh to see!"
}

function handleDragLeave(event) {
    //console.log(this.id + " called drag leave");
}

function handleMoveContainer(event, ui) {
    jQuery.post('{{=URL("call/run/move_box")}}', { id:$(ui.helper).attr("id").replace('c',''), x:$(ui.position).attr("left")/pxPerem, y:$(ui.position).attr("top")/pxPerem }, function(data){ $("div#error").text("Something happened : " + data); }, "json");
}

function handleResizeContainer(event, ui) {
    jQuery.post('{{=URL("call/run/resize_box")}}', { id:$(ui.helper).attr("id").replace('c',''), w:$(ui.size).attr("width")/pxPerem, h:$(ui.size).attr("height")/pxPerem }, function(data){ $("div#error").text("Something happened : " + data); }, "json");
}

function handleNewContainer(event) {
    jQuery.post('{{=URL("call/run/resize_box")}}', { id:$(ui.helper).attr("id").replace('c',''), w:$(ui.size).attr("width")/pxPerem, h:$(ui.size).attr("height")/pxPerem }, function(data){ $("div#error").text("Something happened : " + data); }, "json");
}


function disableSelection(target){
    if (typeof target.onselectstart!="undefined") //IE route
target.onselectstart=function(){return false}
    else if (typeof target.style.MozUserSelect!="undefined") //Firefox route
target.style.MozUserSelect="none"
    else //All other route (ie: Opera)
target.onmousedown=function(){return false}
    target.style.cursor = "default"
}

function defineContainersMobile() {
    $(".cbox").draggable({    
        snap: ".snapable",
        snapTolerance: 5,
        snapMode: "outer",
        containment: "parent",
        stop: function(event, ui) { handleMoveContainer(event, ui); }
    }).resizable({ 
        containment: "parent",       
        stop: function(event, ui) { handleResizeContainer(event, ui); }
    }).click( function() {
        if ($("input#delbox").hasClass("selected")) {
            jQuery.post('{{=URL("call/run/del_box")}}', { box_id:$(this).attr("id").replace('c','') }, function(data){ $("div#error").text("Something happened : " + data); }, "json");
            $(this).detach();
            $(".cbox").draggable("option", "disabled", false).resizable("option", "disabled", false);
            $(".selected").removeClass("selected");
        }
    });  
}

function unsetContainersMobile() {
    $(".cbox").draggable("option", "disabled", true).resizable("option", "disabled", true);
}
function setContainersMobile() {
    $(".cbox").draggable("option", "disabled", false).resizable("option", "disabled", false);
}

var pxPerem = false;
$(document).ready(function(){
    pxPerem = $("div.page").width()/70.0; 
    var new_cont = { 'pid': {{=page.id}}, x: "", y: "", w: "", h: ""};   
 
    disableSelection(document.body) 
    defineContainersMobile();
    
    $("input#mknewbox").click(function(){ 
        if (!$(this).hasClass("selected")) {       
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            unsetContainersMobile();
        } else {            
            setContainersMobile();
            $(".selected").removeClass("selected");
        }
    });   
    
    $("input#delbox").click(function(){ 
        if (!$(this).hasClass("selected")) {       
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            unsetContainersMobile();
        } else {            
            setContainersMobile();
            $(".selected").removeClass("selected");
        }
    });
     
    $("div#main_page").mousedown(function(e){    
        if ($("input#mknewbox").hasClass("selected")) {          
            new_cont['x'] = (e.pageX - $("div.page").offset().left);
            new_cont['y'] = (e.pageY - $("div.page").offset().top);
        }
    }).mouseup(function(e){
        if ($("input#mknewbox").hasClass("selected")) { 
            new_cont['w'] = (e.pageX - new_cont['x'] - $("div.page").offset().left);
            new_cont['h'] = (e.pageY - new_cont['y'] - $("div.page").offset().top); 
            jQuery.post('{{=URL("call/run/new_box")}}', { page_id:new_cont['pid'], x:new_cont['x']/pxPerem, y:new_cont['y']/pxPerem, w:new_cont['w']/pxPerem, h:new_cont['h']/pxPerem }, function(data){  
                $("div#main_page").append( "<div class='cbox snapable' id='c"+data.new_id+"' >New text box created by javascript. Reloaded from database on refresh.</div>" );   
                $("div#c" + data.new_id).css({ 'top':new_cont['y']+'px', 'left':new_cont['x']+'px', 'height':new_cont['h']+'px', 'width':new_cont['w']+'px'
                });
                defineContainersMobile();           
                $("div#error").text("Something happened : " + data);             
            }, "json");   
            $(".selected").removeClass("selected");
            setContainersMobile();            
        }           
    });
    
    $(".cbox").each(function(index) {   
        $(this).on('dragenter', handleDragEnter);
        $(this).on('drop', handleDrop);
        $(this).on('dragleave', handleDragLeave);
    });
    
    $('#main_page').append(crossBox);
    
});
</script>
<link rel="stylesheet" type="text/css" href={{=URL('css','base.css', vars=dict(id=page.id))}} />
<link rel="stylesheet" type="text/css" href={{=URL('static','static-css.css')}} />
</head>
<body class="page">
    <div id="main_page" class="page snapable">
    {{for tbox in boxes:}}        
        {{=DIV(contents[tbox.id], _id="c%(id)s"%dict(id=tbox.id), _class="cbox snapable")}}
    {{pass}}
    </div>
    {{=INPUT(_type="button", _value="Create box", _id="mknewbox")}}
    {{=INPUT(_type="button", _value="Delete box", _id="delbox")}}
</body>
