<html>
	<head>
		<!-- Load css, including custom box css -->
		<link rel="stylesheet" type="text/css" href="{{=URL('css','page_layout.css', vars=dict(id=page.id))}}" />
		<!-- Load jQuery and jQuery-ui -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
		<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>
		
		<!-- Load MathJax -->
		<script type="text/javascript" src="{{=mathjax_URL}}?config=TeX-AMS-MML_HTMLorMML"></script>
		
		<!-- Load text editor (dojo) -->
		<!-- <script type="text/javascript" src="{{=URL('static/js/tiny_mce','tiny_mce.js')}}"></script> -->
		<!-- <script type="text/javascript" src="{{=URL('static/js','tinyMCEtools.js')}}"></script> -->
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
		<style type="text/css">
			/* bring in the claro theme */
			@import "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css";
		</style>
		
		<!-- Load our scripts! -->
		<script type="text/javascript">
			var pageID = "{{=page.id}}";
		</script>
		<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static/js','texteditor.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static/js', 'containers.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static/js', 'content.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static/js', 'option_bar.js')}}"></script>


		<!-- Initialisation and odds and ends -->
		<script type="text/javascript">
			MathJax.Hub.Config({ elements: ["content_area"] });

			function handleUpdateTitle(value, settings) {
				jQuery.post('{{=URL("call/run/update_title")}}',
						{ page_id:{{=page.id}}, title_content:value }, 
						function(data){	value = data.title_content; console.log("title update : "); console.log(data); }, 
						"json");
				return(value);
			}

				var pxPerem = false;

			<!-- ON DOCUMENT READY -->
			$(document).ready(function(){
				pxPerem = $("div.page").width()/70.0;

				var new_cont = { 'pid': {{=page.id}}, x1: "", y1: "", x2: "", y2: ""};

				$("#main_page").disableTextSelect();

				$(".empty").each(function(index) { containers.defineIsBlank($(this)); });

				//Doubdle click to edit Press enter to save changes. Press Esc to cancel them.
				$("#title_bar").bind('focusin', function() {
					$("#main_page").enableTextSelect()
				}).bind('focusout', function() {
					$("#main_page").disableTextSelect()
				}).editable(handleUpdateTitle, {
					tooltip : "DoubleClick to edit...",
					event : "dblclick"
				});
				$("button#mknewbox").click(function(){
					if (!$(this).hasClass("selected")) {
						$(".selected").removeClass("selected");
						$(this).addClass("selected");
						containers.unsetContainersMobile();
					} else {
						containers.setContainersMobile();
						$(".selected").removeClass("selected");
					}
				});

				$("#content_area").click( function(event){
					optionBarHide();
					saveEditor();
					hideEditor();
				}).mousedown(function(e){
					if ($("button#mknewbox").hasClass("selected")) {
						new_cont['x1'] = (e.pageX - $("div.content_area").offset().left);
						new_cont['y1'] = (e.pageY - $("div.content_area").offset().top);
						if (!(new_cont['x1'] > 0 && new_cont['y1'] > 0 && new_cont['x1'] < $("div.content_area").width() && new_cont['y1'] < $("div.content_area").height()))  {
							new_cont['x1'] = -1;
							new_cont['y1'] = -1;
						}
					}
				}).mouseup(function(e){
					if ($("button#mknewbox").hasClass("selected")) {
						new_cont['x2'] = (e.pageX - $("div.content_area").offset().left);
						new_cont['y2'] = (e.pageY - $("div.content_area").offset().top);
						if (!(new_cont['x2'] > 0 && new_cont['y2'] > 0 && new_cont['x2'] < $("div.content_area").width() && new_cont['y2'] < $("div.content_area").height())) {
							new_cont['x2'] = -1;
							new_cont['y2'] = -1;
						}
						if (new_cont['x1'] > 0 && new_cont['x2'] > 0 && new_cont['y1'] > 0 && new_cont['y2'] > 0) {
							containers.handleCreateContainer(new_cont);
							$(".selected").removeClass("selected");
							containers.setContainersMobile();
							new_cont['x1'] = -1;
							new_cont['y1'] = -1;
							new_cont['x2'] = -1;
							new_cont['y2'] = -1;
						}
					}
				});

				$(".cbox").each(function(index) {
					$(this).on('dragenter', content.handleDragEnter);
					$(this).on('drop', content.handleDrop);
					containers.defineContainerMobile($(this));
					containers.enableOptionBar($(this));
				});

				$(".imgbox").on("dblclick", function(event) {
					containers.toggleMoveResize(this);
				});

				//newly created divs have cross box underneither somhow???
				$('#content_area').append(content.dropCrossBox.crossDiv);
				initialiseEditor();

			});
			<!-- END DOCUMENT READY -->
		</script>
	</head>
	<body class="page">
		<div id="main_page" class="page">
			{{=DIV(SPAN(page.title, _id="title_bar", _class="title_bar"), _class="title_bar")}}
			{{=DIV(_id="side_bar_l", _class="side_bar")}}
			<div id="content_area" class="content_area">
				{{for tbox in boxes:}}
				{{if contents[tbox.id] is not "" :}}
				{{=DIV(contents[tbox.id], _id="c%(id)s"%dict(id=tbox.id), _class="cbox")}}
				{{else:}}
				{{=DIV('', _id="c%(id)s"%dict(id=tbox.id), _class="cbox empty")}}
				{{pass}}
				{{pass}}
			</div>
		</div>
	<button type="button" id="mknewbox">Create box</button>
	</body>
</html>
