<head>
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")}} 
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js")}}
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css")}}
{{include 'web2py_ajax.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('css','page_layout.css', vars=dict(id=page.id))}}" />
<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>
<script type="text/javascript" src="{{=URL('static/js/tiny_mce','tiny_mce.js')}}"></script>

<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
<script type="text/javascript">
var buttonAddContainer = $('<button type="button" id="mknewbox" class="side_button"><img src={{=URL("static/images","Crystal_Project_New_window.png")}} class="side_button" style="width:90%;" /></button>');
var buttonRemoveContainer = $('<button type="button" id="delbox" class="side_button"><img src={{=URL("static/images","Crystal_Project_View_remove.png")}} class="side_button" style="width:90%;" /></button>');


function handleDragEnter(event) {
    event.stopPropagation();
    event.preventDefault();
    crossBoxOver = this;
    crossBoxResizeAndPosition(this.id);
    crossBoxShow();
}

function handleDrop(event) {
    event.stopPropagation();
    event.preventDefault();
    var box_id = crossBoxOver.id.substr(1);
    var contentFile = event.dataTransfer.files[0];    
    handleSaveContent(box_id, contentFile, contentFile);
    $(crossBoxOver).removeClass('empty');
    $(crossBoxOver).off('dblclick.empty');
}

function handleSaveContent(box_id, content, metadata) {
    var fd = new FormData();    
    fd.append("page_id", "{{=page.id}}");
    fd.append("box_id", box_id);
    fd.append("contentFile", content);
    fd.append("contentFileName", metadata.name);
    fd.append("contentFileType", metadata.type);
    fd.append("contentFileSize", metadata.size);
    $.ajax({
        url: "{{=URL('call/run/upload_content')}}",
        data: fd,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        dataType: "json",
        success: function(data){
            //console.log("Content upload : ");
            //console.log(data);
            if (data.error == undefined) {
                $('#c'+data['box_id']).html(data['content']);
            } else {
                alert("There was an error uploading content.");
            }
        }
    });

}

function handleUpdateTitle(value, settings) { 
   jQuery.post('{{=URL("call/run/update_title")}}', { page_id:{{=page.id}}, title_content:value }, function(data){ value = data.title_content; console.log("title update : ");console.log(data); }, "json"); 
    return(value);
}   

function handleMoveContainer(event, ui) {
    jQuery.post('{{=URL("call/run/move_box")}}', { id:$(ui.helper).attr("id"), x:$(ui.position).attr("left")/pxPerem, y:$(ui.position).attr("top")/pxPerem }, function(data){ console.log("move container : ");console.log(data); }, "json");
}

function handleResizeContainer(event, ui) {
    jQuery.post('{{=URL("call/run/resize_box")}}', { id:$(ui.helper).attr("id"), w:$(ui.size).attr("width")/pxPerem, h:$(ui.size).attr("height")/pxPerem }, function(data){ console.log("resize container : ");console.log(data); }, "json");
}

function handleCreateContainer(new_cont) {
    var dims = { x: Math.min(new_cont['x1'],new_cont['x2']), y: Math.min(new_cont['y1'],new_cont['y2']), w: Math.abs(new_cont['x2']-new_cont['x1']), h: Math.abs(new_cont['y2']-new_cont['y1']) };
    jQuery.post('{{=URL("call/run/new_box")}}', { page_id:new_cont['pid'], x:dims['x']/pxPerem, y:dims['y']/pxPerem, w:dims['w']/pxPerem, h:dims['h']/pxPerem }, function(data){  
        $("#content_area").append( "<div class='cbox empty' id='c"+data.new_id+"'></div>" );   
        $("div#c" + data.new_id).css({ 
            'top':dims['y']+'px',
            'left':dims['x']+'px',
            'width':dims['w']+'px',
            'height':dims['h']+'px'
        });
        $("div#c" + data.new_id).on('dragenter', handleDragEnter);
        $("div#c" + data.new_id).on('drop', handleDrop);
        defineContainerMobile($("div#c" + data.new_id));   
        defineIsBlank($("div#c" + data.new_id));
        console.log("create container : ");console.log(data);             
    }, "json"); 
}

function defineContainerMobile(target) {
    target.draggable({    
        snap: ".cbox",
        snapTolerance: 5,
        snapMode: "outer",
        containment: "parent",
        stop: function(event, ui) { handleMoveContainer(event, ui); }
    }).resizable({ 
        containment: "parent",       
        stop: function(event, ui) { handleResizeContainer(event, ui); }
    }).click( function() {
        if ($("button#delbox").hasClass("selected")) {
            jQuery.post('{{=URL("call/run/del_box")}}', { box_id:$(this).attr("id").replace('c','') }, function(data){ console.log("remove container : ");console.log(data); }, "json");
            $(this).detach();
            setContainersMobile();
            $(".selected").removeClass("selected");
        }
    }); 
}

function unsetContainersMobile(target) {
    if(typeof target == 'undefined') target = $("div.cbox");  
    target.each(function (index) { $(this).draggable("option", "disabled", true).resizable("option", "disabled", true); });
}
function setContainersMobile(target) {
    if(typeof target == 'undefined') target = $("div.cbox");
    target.draggable("option", "disabled", false).resizable("option", "disabled", false);
}

function defineIsBlank(target) {
    target.addClass('empty');
    target.on('dblclick.empty', function(event) {   
        $(event.target).prepend("<div class='textbox' id='"+$(event.target).attr('id').replace('c','txt')+"'><p></p></div>"); //the p is needed to force mce to be the size of the container, sadly it removes it if you dont put anything in it first time
        target.removeClass("empty");
        target.unbind('dblclick');   
        defineIsEditable($('#'+$(event.target).attr('id')));
        handleDynamicTextEditor($('#'+$(event.target).attr('id')));
    })
}

function defineIsEditable(target) {
    target.bind('dblclick', function(event) {
        event.stopPropagation();  
        handleDynamicTextEditor($(event.target));
    });
}

function handleDynamicTextEditor(target){
    if(target.hasClass('cbox')) {
        var targetCBox = target;
        var targetTBox = target.child('div.textbox');
    } else if(target.hasClass('textbox')) {
        var targetCBox = target.parent('div.cbox');
        var targetTBox = target;
    } else {
        var targetCBox = target.parents('div.cbox');
        var targetTBox = target.parents('div.textbox');
    }
    if (!targetCBox || !targetTBox) {
        throw "handleDynamicTextEditor called on something which isn't a child of a cbox or a textbox: " + $(target)[0].tagName
    }
    //console.log(targetCBox.attr('id'));
    //console.log(targetTBox.attr('id'));
    unsetContainersMobile(targetCBox);
    var id = $(targetTBox).attr('id');
    if(tinyMCE.getInstanceById(id)) {        
        tinyMCE.getInstanceById(id).show();
        tinyMCE.execCommand('mceFocus', false, id);
    } else {
        tinyMCE.execCommand('mceAddControl', false, id);           
    }
}

   
var pxPerem = false;
$(document).ready(function(){
    pxPerem = $("div.page").width()/70.0; 
    var new_cont = { 'pid': {{=page.id}}, x1: "", y1: "", x2: "", y2: ""}; 
       
    tinyMCE.init({
        mode : "none",
        theme : "simple",
        skin: "default",
        setup: function(ed) {
                ed.onInit.add(function(ed, evt) {
                    var dom = ed.dom;
                    var doc = ed.getDoc();            
                    tinymce.dom.Event.add(doc, 'blur', function(e) { //chose between save and hide or remove editor.
                        tinyMCE.execCommand('mceRemoveControl', false, ed.id);
//                        ed.save();
//                        ed.hide();  
                        setContainersMobile($('#'+ed.id.replace('txt','c')));
                    });
                }); 
                ed.onSaveContent.add(function(ed, o) {
                    if (o.content == '') { //set as blank again.
                       $('#' + ed.id).remove();
                       $('#' + ed.id.replace('txt','c')).unbind('dblclick'); 
                       defineIsBlank($('#' + ed.id.replace('txt','c')));
                    } else {      
                        handleSaveContent(ed.id.replace('txt',''), o.content, { name:'textbox'+ed.id.replace('txt','')+'.'+o.format, type:'text/'+o.format, size: 8*unescape(encodeURIComponent(content)).length });
                        console.log("The content has been submitted for saving");
                    }
                });
        },
        init_instance_callback : function(ed) { ed.focus() }
    });
   
     
    $("#main_page").disableTextSelect();
    $(".empty").each(function(index) { defineIsBlank($(this)); });
    $(".textbox").each(function(index) { defineIsEditable($('#'+$(this).attr('id').replace('txt','c'))); })
    
    //Doubdle click to edit Press enter to save changes. Press Esc to cancel them.
    $("#title_bar").bind('focusin', function() { $("#main_page").enableTextSelect() } ).bind('focusout', function() { $("#main_page").disableTextSelect() } ).editable(handleUpdateTitle, { 
        tooltip   : "DoubleClick to edit...",
        event     : "dblclick"
    });  
       
    $('#side_bar_l').append(buttonAddContainer,buttonRemoveContainer);
    
    $("button#mknewbox").click(function(){ 
        if (!$(this).hasClass("selected")) {       
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            unsetContainersMobile();
        } else {            
            setContainersMobile();
            $(".selected").removeClass("selected");
        }
    });   
    
    $("button#delbox").click(function(){ 
        if (!$(this).hasClass("selected")) {       
            $(".selected").removeClass("selected");
            $(this).addClass("selected");
            unsetContainersMobile();
        } else {            
            setContainersMobile();
            $(".selected").removeClass("selected");
        }
    });
     
    $("#content_area").mousedown(function(e){    
        if ($("button#mknewbox").hasClass("selected")) {   
            new_cont['x1'] = (e.pageX - $("div.content_area").offset().left);
            new_cont['y1'] = (e.pageY - $("div.content_area").offset().top);
            if (!(new_cont['x1'] > 0 && new_cont['y1'] > 0 && new_cont['x1'] < $("div.content_area").width() && new_cont['y1'] < $("div.content_area").height()))  {
                new_cont['x1'] = -1;
                new_cont['y1'] = -1;
            }
        }
    }).mouseup(function(e){
        if ($("button#mknewbox").hasClass("selected")) { 
            new_cont['x2'] = (e.pageX - $("div.content_area").offset().left);
            new_cont['y2'] = (e.pageY - $("div.content_area").offset().top); 
            if (!(new_cont['x2'] > 0 && new_cont['y2'] > 0 && new_cont['x2'] < $("div.content_area").width() && new_cont['y2'] < $("div.content_area").height())) {
                new_cont['x2'] = -1;
                new_cont['y2'] = -1;
            }            
            if (new_cont['x1'] > 0 && new_cont['x2'] > 0 && new_cont['y1'] > 0 && new_cont['y2'] > 0) {
                handleCreateContainer(new_cont);  
                $(".selected").removeClass("selected");
                setContainersMobile();           
                new_cont['x1'] = -1;
                new_cont['y1'] = -1; 
                new_cont['x2'] = -1;
                new_cont['y2'] = -1;
            }
        }           
    });
    
    $(".cbox").each(function(index) {   
        $(this).on('dragenter', handleDragEnter);
        $(this).on('drop', handleDrop);        
        defineContainerMobile($(this));  
    });
    
    $(".imgbox").on("dblclick", function(event) {        
        if ($(this).hasClass('ui-draggable')) { 
            $(this).css('border', 'none');
            $(this).draggable('destroy');
            $(this).resizable('destroy');
        } else {
            $(this).css('border', '1px dotted red');
            $(this).draggable({stop: function(event, ui) { handleMoveContainer(event, ui); }});
            $(this).resizable({stop: function(event, ui) { handleResizeContainer(event, ui); }});
        }
    });
  
//newly created divs have cross box underneither somhow???
    $('#content_area').append(crossBox);
    
});
</script>
</head>
<body class="page">
    <div id="main_page" class="page">
        {{=DIV(SPAN(page.title, _id="title_bar", _class="title_bar"), _class="title_bar")}}
        {{=DIV(_id="side_bar_l", _class="side_bar")}}
        <div id="content_area" class="content_area">
            {{for tbox in boxes:}} 
                {{if contents[tbox.id] is not "" :}}
                    {{=DIV(contents[tbox.id], _id="c%(id)s"%dict(id=tbox.id), _class="cbox")}}
                {{else:}}
                    {{=DIV('', _id="c%(id)s"%dict(id=tbox.id), _class="cbox empty")}}                
                {{pass}}                   
            {{pass}}
        </div>
    </div>
<!--    <button type="button" id="mknewbox">Create box</button>
    <button type="button" id="delbox">Delete box</button> -->
</body>
