<head>
<style>

	#rootview {
		position:absolute;
		top: 0px;
		left: 0px;
		height:100%;
		width:240px;
		overflow-y: scroll;}

	.parent {
		margin-left:-90px;
	}

	ul#root {
		position:relative;
		margin: 0;
		padding: 0; }

	ul#drops {
		border:dashed black;
		position:absolute;
		margin: 0;
		padding: 10px;
		left:300px;
		width:200px;
	}

	ul.child {
		position:relative;
		margin: 0;
		padding: 0;
		margin-top: 11px;
		margin-left: 220px; }

	li {
		list-style-type: none;
		text-align:center;
		vertical-align:center;
		margin: 0;
		padding: 0;
		width:210px;
		height:150px; }

	li img{
		width:90%;
		height:90%; }

	li img{
		width:90%;
		height:90%; }
</style>
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")}}
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js")}}
{{response.files.append("http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css")}}
{{include 'web2py_ajax.html'}}
<script type="text/javascript">
	var serviceURL = "{{=URL('call/run')}}";
</script>
<script type="text/javascript">
$(document).ready(function(){
/*
	$( "ul.droptrue" ).sortable({
		connectWith: "ul"
	});

	$( "ul.dropfalse" ).sortable({
		connectWith: "ul",
		dropOnEmpty: false
	});

	$( "#parent, #child" ).disableSelection();

	$( ".section").on("click", function(event){
		$(event.target).toggle("slide");
		$(event.target).children().toggle("blind");
	})
*/
	//~ $( ".section").find('ul').hide();
	//~ $( ".section").on("click", function(event){
		//~ //$( ".section").find('ul').hide();
		//~ var replica = $(event.target).clone();
		//~ replica.insertAfter($(event.target));
		//~ replica.css('left', '440px');
		//~ $(event.target).parent('li').children('ul').toggle("blind");
	//~ });

	//~ var childview = $('#parentview').clone();
	//~ childview.attr('id','childview');
	//~ //childview.css('left',$('#parentview').css('width'));
	//~ childview.css('left','50%');
	//~ $('body').append(childview);
	//~ $('#parentview #root').css('left',$('#parentview').css('width'));


	//~ $( ".section").find('ul').hide();

	//~ var viewing = false;
	//~ $( "#childview .section").on('click', function(event){
		//~ viewing = $(event.target).parent('li').attr('id');
		//~ $('#parentview #' + viewing).children('ul').toggle();
		//~ $('#childview #' + viewing).children('ul').toggle();
		//~ $('#childview #root').css('left', Number($('#childview #root').css('left').replace('px',''))-Number($('#childview').css('width').replace('px',''))+'px' );
		//~ $('#parentview #root').css('left', Number($('#parentview #root').css('left').replace('px',''))-Number($('#parentview').css('width').replace('px',''))+'px' );
	//~ });

	//~ $( "#parentview .section").on('click', function(event){
		//~ if ($(event.target).parent('li').attr('id') == viewing) {
			//~ $('#parentview #' + viewing).children('ul').toggle();
			//~ $('#childview #' + viewing).children('ul').toggle();
			//~ $('#childview #root').css('left', Number($('#childview #root').css('left').replace('px',''))+Number($('#childview').css('width').replace('px',''))+'px' );
			//~ $('#parentview #root').css('left', Number($('#parentview #root').css('left').replace('px',''))+Number($('#parentview').css('width').replace('px',''))+'px' );
		//~ }
	//~ });

	$( "ul" ).sortable({
		connectWith: "ul",
		scroll: false,
		helper: 'clone',
		appendTo: 'body',
		placeholder: 'ui-state-highlight'
	});

	$( "ul#root" ).sortable({
		beforeStop: function(event, ui){
			$(ui.helper).children('img').on('click', function(event){
				var viewing = $(event.target).parent('li');
				if(viewing.hasClass('parent')){
					viewing.removeClass('parent');
					viewing.children('ul').hide();
					viewing.parent('ul').parent('li').show();
					viewing.siblings().show();
				} else {
					viewing.addClass('parent');
					viewing.siblings().hide();
					viewing.children('ul').show();
				}
			});
		}
	});

	$("#drops").bind('sortreceive', function(e, ui){
			$(ui.item).children('img').off('click');
	});
	$("#drops").bind('sortremove', function(e, ui){
		$(ui.item).children('img').on('click', function(event){
			var viewing = $(event.target).parent('li');
			if(viewing.hasClass('parent')){
				viewing.removeClass('parent');
				viewing.children('ul').hide();
				viewing.parent('ul').parent('li').show();
				viewing.siblings().show();
			} else {
				viewing.addClass('parent');
				viewing.siblings().hide();
				viewing.children('ul').show();
			}
		})
	});

	$(".section").find('ul').hide();
	$('ul.child').css('margin-left', '90px');
	$(".section").children('img').on('click', function(event){
		var viewing = $(event.target).parent('li');
		if(viewing.hasClass('parent')){
			viewing.removeClass('parent');
			viewing.children('ul').hide();
			viewing.parent('ul').parent('li').show();
			viewing.siblings().show();
		} else {
			viewing.addClass('parent');
			viewing.siblings().hide();
			viewing.children('ul').show();
		}
	});
});
</script>

</head>
<body>
<!-- style="width:100%; height:90%; border:1px dashed;"
		<ul id="parent" class='droptrue'>
			<li class="ui-state-default page">Page 1</li>
			<li class="ui-state-default page">Page 2</li>
			<li class="ui-state-default section">Subsection page</li>
			<li class="ui-state-default page">Page 4</li>
			<li class="ui-state-default page">Page 5</li>
		</ul>
-->
	<div id="rootview">
		<!-- <img id="parent" src={{=URL('static/images','root.svg')}} > -->
		<ul id="root" class="parent">
			<li class="page"><img src={{=URL('static/images','page1.svg')}} >
			<li id="S1" class="section"><img src={{=URL('static/images','sec1.svg')}} >
				<ul id="S1R" class="child">
					<li class="page"><img src={{=URL('static/images','page1.svg')}} >
					<li class="page"><img src={{=URL('static/images','page2.svg')}} >
					<li class="page"><img src={{=URL('static/images','page3.svg')}} >
					<li id="S1S1" class="section"><img src={{=URL('static/images','sec1.svg')}} >
						<ul id="S1S1R" class="child">
							<li class="page"><img src={{=URL('static/images','page1.svg')}} >
							<li class="page"><img src={{=URL('static/images','page2.svg')}} >
						</ul>
					</li>
				</ul>
			</li>
			<li id="S2" class="section"><img src={{=URL('static/images','sec2.svg')}} >
				<ul id="S2R" class="child">
					<li class="page"><img src={{=URL('static/images','page1.svg')}} >
					<li class="page"><img src={{=URL('static/images','page2.svg')}} >
					<li class="page"><img src={{=URL('static/images','page3.svg')}} >
				</ul>
			</li>
			<li id="S3" class="section"><img src={{=URL('static/images','sec3.svg')}} >
				<ul id="S3R" class="child">
					<li id="S3S1" class="section"><img src={{=URL('static/images','sec1.svg')}} >
						<ul id="S3S1R" class="child">
							<li class="page"><img src={{=URL('static/images','page1.svg')}} >
							<li class="page"><img src={{=URL('static/images','page2.svg')}} >
						</ul>
					</li>
					<li class="page"><img src={{=URL('static/images','page1.svg')}} >
					<li class="page"><img src={{=URL('static/images','page2.svg')}} >
					<li class="page"><img src={{=URL('static/images','page3.svg')}} >
					<li class="page"><img src={{=URL('static/images','page4.svg')}} >
				</ul>
			</li>
			<li class="page"><img src={{=URL('static/images','page2.svg')}} >
			<li id="S4" class="section"><img src={{=URL('static/images','sec4.svg')}} >
				<ul id="S4R" class="child">
					<li class="page"><img src={{=URL('static/images','page1.svg')}} >
					<li class="page"><img src={{=URL('static/images','page2.svg')}} >
				</ul>
			</li>
			<li id="S5" class="section"><img src={{=URL('static/images','sec5.svg')}} >
				<ul id="S5R" class="child">
					<li class="page"><img src={{=URL('static/images','page1.svg')}} >
					<li class="page"><img src={{=URL('static/images','page2.svg')}} >
				</ul>
			</li>
		</ul>
	</div>
	<ul id='drops' >
	</ul>

</body>

