{{for id in colours.keys():}}
#{{=id}} {
	color: {{=colours[id]}};
}
	
#{{=id}} .ssec_info div.expand {
	background-color: {{=colours[id]}};
	cursor: pointer;
}

#{{=id}} .pages_canvas {
	width: {{=lengths[id]*16 + 2}}em;
}

#{{=id}} .before:hover, #{{=id}} .at_end:hover {
	background-color: {{=colours[id]}};
	opacity: 0.3;
}

{{pass}}

body {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}

header {
	display: block;
	height: 7em;
	padding-left: 1em;
}

.add_page {
	height: 9em;
	width: 1em;
	display: block;
	float: left;
	background-color: white;
}

.before {
	position: relative;
	left: -1.5em;
}

.at_end {
	margin-top: 0.75em;
}

button {
	float: right;
	margin-left: 1em;
}

.new_page_dialog {
	width: 17em;
	position: absolute;
	background-color: white;
}

.page-placeholder {
	margin-top: 0.5em;
	height: 9em;
	border: 0.25em dotted gray;
	width: 4em;
	display: block;
	font-variant: small-caps;
	content: 'Insert new page';
	float: left;
}

.ui-draggable-dragging {
	opacity: 0.5;
}
#toolbox {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	border-top-style: dashed;
	border-top-color: lightgray;
}

#sec_container {
	display: table;
}

.sec {
	/*height: 15em;*/
	/*display: table-row;*/
	width: 100%;
	margin-bottom: 2em;
	/*clear: both;*/
}

.sec_info {
	/*float: left;*/
	display: table-cell;
	vertical-align: top;
	width: 12em;
	min-width: 12em;
	height: 100%;
	padding-left: 2em;
	/*border-right-style: solid;
	border-right-width: 0.5em;*/
	margin-bottom: 1em;
}

.sec_info div.title {
	/*border-right-style: solid;
	border-right-width: 0.5em;*/
	font-size: x-large;
	font-weight: 700;
	padding-bottom: 1em;
}

.sec_info div.details {
	/*border-right-style: solid;
	border-right-width: 0.5em;*/
}

.ssec_container {
	display: table-cell;
	border-left-style: solid;
	border-left-width: 0.5em;
}

.ssec {
	float: left;	
	padding-left: 2em;
	width: 18em;
	height: 15em;
}

.expanded.ssec {
	height: 37em;
	width: 43em;
}

.ssec_info {
	border-bottom-style: solid;
	border-bottom-width: 0.25em;
	margin-bottom: 1em;
}


.ssec_info div.expand {
		width: 1em;
		text-align: center;
		font-size: xx-large;
		float: right;
		font-weight: 700;
		color: white;
		padding-left: 0.1em;
		padding-right: 0.1em;
	}

.ssec_info div.details {
		font-size: small;
		margin-bottom: 1em;
	}

.ssec_info div.title {
	font-size: medium;
	font-weight: 700;
}

.page {
	/*border: 1px solid lightgray;*/
	background-color: lightgray;
	width: 12em;
	line-height: 9em;
	text-align: center;
	color: black;
	float:left;
	margin-left: 1.5em;
	margin-right: 0.5em;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}

/*.page:first-child {
	margin-left: 0;
}*/

.pages_scrollhide {
	overflow: hidden;
       	height: 15em;
}

.expanded .pages_scrollhide {
	height: 31.5em;
}

.pages_scroller {
	overflow-x: scroll;
	height: 16em;
       	padding-bottom: 1em;
}

.expanded .pages_scroller {
	overflow-y: scroll;
}

.expanded .pages_scroller {
	height: 31.5em;
}

.expanded .pages_canvas {
	width: 43em !important;
}
