{{def render_content(box=box):}}
{{if box['content_type'] == '':}}
	<!-- This box is empty -->
{{elif box['content_type'] == 'box':}}
	{{childbox = extra_box_info[box['id']]['child_box']}}
	<div class="clipbox" id="box{{box['id']}}">
		{{ render_content(childbox) }}
	</div>
{{elif box['content_type'] == 'text/html':}}
	<div class="textbox">{{=extra_box_info[box['id']]['file_contents']}}</div>
{{elif box['content_type'] in ['image/jpeg', 'image/svg+xml']:}}
	<img src="{{=extra_box_info[box['id']]['file_url']}}" style="width: 100%; height: 100%" />
{{else:}}<!-- Content type not supported: {{=box['content_type']}} -->{{pass}}
{{return}}
{{render_content(box)}}