<head>

	<!-- A lot of this header is copied from render/page and maybe combinable in another way -->

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- Load static page css -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/page_css.css')}}" />

	<!-- Load jQuery and jQuery-ui -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.scrollTo-1.4.3.1-min.js')}}"></script>

	<!-- Load MathJax -->
	<script type="text/javascript" src="{{=mathjax_URL}}"></script>

	<!-- Load text editor (dojo) -->
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
	<style type="text/css">
		/* bring in the claro theme */
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css";
	</style>

	<!-- Load our scripts! -->
	<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','texteditor.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'containers.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'content.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'option_bar.js')}}"></script>

	<!-- DOCUMENT READY -->
	<script type="text/javascript">
		{{ include 'render/doc_ready.js' }}
	</script>


<style>

	#treeview {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 10pt;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50%;
		overflow-x: hide;
		overflow-y: scroll;
	}

	ul {
		list-style-type: none;
	}


	ul.child {
		position:relative;
		margin: 0;
		padding: 0;
		margin-top: 11px;
		margin-left: 5px;

	}

	.selected { background: #FECA40; }
	.placeholder-highlight { height: 1.5em; line-height: 1.2em; }

	li {
		margin: 0;
		padding: 0;
		width:100%;
	}

	li.parent {
		margin-top: -11px;
		margin-left: -5px;
	}
	li#rootS {
		margin-top: 0px;
		margin-left: 0px;
	}


	li.add_page {
		color: blue;
	}

	li.add_page span:hover {
		text-decoration: underline;
	}

</style>

<style>

	div#sidepane {
		position: fixed;
		width: 160px;
		height: 90%;
	}
	div#pages {
		position: absolute;
		left: 200px;
		width:80%;
		height:90%;
		font-size: 12px;
	}

</style>
<script type="text/javascript">
	var serviceURL = "{{=URL('call/run')}}";
</script>

<script type="text/javascript">
var current_section = '{{=parent}}'

function getPages(sec) {
	$.get("{{=URL(c='render',f='page')}}?section="+sec, function(data){
		current_section = sec
		$('head').remove('#current_pages_css');
		$('#pages').empty();
		$('head').append($(data).filter('#current_pages_css'));
		$('#pages').append($(data).filter('.page'));
		initialise_pages();

		$(".section").on('click', function(e) {
			getPages($(e.target).attr('id').match(/page(None|\d+)_(\d+)/i)[1]);
		});
	});
};

</script>

<script type="text/javascript">
$(document).ready(function(){

	var current_selected_id = null;
	var current_viewing_id = null;

	function makeSelectable(target){
		target.addClass('selectable');
		target.on('click', function(){
			$(".selected").removeClass("selected");
			target.addClass("selected");
			current_selected_id = target.attr('id');
			if(current_viewing_id.match(/(\d+|root)S/i)[1] == current_section) {
				var targetID = current_selected_id.match(/(\d+)(P|S)(None|\d+)_(\d+)/i);
				$.scrollTo($('#page'+targetID[3]+'_'+targetID[4]), {duration:700, easing:'easeOutExpo', offset: {top:-15}});
			}
		});
	}

	function unmakeSelectable(target){
		target.removeClass('selected');
		current_selected_id = null;
		target.off('click');
		target.removeClass('selectable');
	}


	function enterBranch(target){
		//~ getPages(target.children('ul').attr('id').match(/s(\d+)/i)[1]);
		current_viewing_id = target.attr('id');
		target.removeClass('viewing');
		target.siblings('li').removeClass('viewing');
		target.addClass('parent');
		target.parent('ul').siblings('span').hide();
		target.siblings('li').hide();
		target.children('ul').show();
		target.children('ul').children('li').addClass('viewing');
	};
	function exitBranch(target){
		//~ getPages(target.parent('ul').attr('id').match(/(s(\d+)|root)/i)[1]);
		current_viewing_id = target.parent('ul').parent('li.parent').attr('id');
		target.children('ul').children('li').removeClass('viewing');
		target.removeClass('parent');
		target.children('ul').hide();
		target.parent('ul').siblings('span').show();
		target.siblings('li').show();
		target.siblings('li').addClass('viewing');
		target.addClass('viewing');
	};
	function loadBranch(target){
		var id = target.attr('id').match(/(root|\d+)S/i)[1]
		getPages(id);
		$.scrollTo(0);
	};


	getPages('{{=parent}}')

	$(".branch").find('ul').hide();
	$("#rootS").removeClass('branch');
	enterBranch($("#rootS"));
	$(".viewing").each(function(){
		makeSelectable($(this))
	});
	$.scrollTo(0);

	function move_page(page_id, page_above_id){
		$.post("{{=URL(c='default',f='move_to_section')}}?page="+page_id.match(/(None|\d+)_(\d+)/i)[2]+"&after="+page_above_id.match(/(None|\d+)_(\d+)/i)[2]+"&section="+page_above_id.match(/(None|\d+)_(\d+)/i)[1], function(data){
			if (data) {
				var popped_page = $('#page'+page_id).detach();
				if (page_above_id == 'none') {
					popped_page.insertBefore($('#pages').children('.page').first());
				} else {
					popped_page.insertAfter($('#page'+page_above_id));
				}
			}
		});
	}


	$('ul.child').sortable({
		placeholder: "placeholder-highlight",
		stop: function(event, ui){
			var page_above_id = 'none';
			if (ui.item.prev().length > 0) {
				page_above_id = ui.item.prev().attr('id').match(/\d+(P|S)((None|\d+)_(\d+))/i)[2];
			}
			move_page(ui.item.attr('id').match(/\d+(P|S)((None|\d+)_(\d+))/i)[2], page_above_id);
		}
	}).disableSelection();


	$('#enter_branch').on('click', function(event){
		event.stopImmediatePropagation();
		if (current_selected_id != null) {
			var viewing = $(document.getElementById(current_selected_id));
			if(viewing.hasClass('branch')) {
				$(".viewing").each(function(){
					unmakeSelectable($(this));
				});
				enterBranch(viewing);
				$(".viewing").each(function(){
					makeSelectable($(this));
				});
			} else {
				console.log('no handler yet for '+current_selected_id);
			}
		}
	});

	$('#back_branch').on('click', function(event){
		event.stopImmediatePropagation();
		if (current_viewing_id != 'rootS') {
			var viewing = $(document.getElementById(current_viewing_id));
			$(".viewing").each(function(){
				unmakeSelectable($(this));
			});
			exitBranch(viewing);
			$(".viewing").each(function(){
				makeSelectable($(this));
			});
		}
	});

	$("#load_view").on('click', function(event){
		event.stopImmediatePropagation();
		loadBranch( $(document.getElementById(current_viewing_id)) );
	});


	$("#add_page").on('click', function(event){
		event.stopImmediatePropagation();
		var list_entry = $(document.getElementById(current_viewing_id));
		var sectionID = current_viewing_id.match(/(root|\d+)S/i)[1];

		$.post("{{=URL(c='default',f='page_create')}}?parent="+sectionID, function(data){
			var page_id = data['page_id'];
			var node_id = data['page_id'];

			$.get("{{=URL(c='render',f='page')}}?pages="+page_id, function(data){
				$('head').append($(data).filter('#current_pages_css'));
				$('#pages').append($(data).filter('.page'));
				initialise_pages();

				if (sectionID == 'root') {
					sectionID	= 'None';
				}

				list_entry.children('ul').append("<li id="+node_id+"P"+sectionID+"_"+page_id+" class='node viewing'><span>*</span></li>");
				makeSelectable($(document.getElementById(node_id+"P"+sectionID+"_"+page_id)));
				$.scrollTo($('#page'+sectionID+"_"+page_id), {duration:700, easing:'easeOutExpo', offset: {top:-15}});

			});

		}, 'json');
	});

	$("#delete_page").on('click', function(event){
		event.stopImmediatePropagation();
		var type = current_selected_id.match(/\d+(P|S)(None|\d+)_(\d+)/i)[1];
		var section_id = current_selected_id.match(/\d+(P|S)(None|\d+)_(\d+)/i)[2];
		var page_id = current_selected_id.match(/\d+(P|S)(None|\d+)_(\d+)/i)[3];

		if (type == 'P') {
			console.log('deleting page');
			console.log(section_id);
			console.log(page_id);
			$.post("{{=URL(c='default',f='page_delete')}}?page="+page_id, function(data){
				console.log(data);
				if (data == 'True') {
					console.log('success');
					$(document.getElementById(current_selected_id)).remove();
					$(document.getElementById('page'+section_id+'_'+page_id)).remove();
				}
			});
		} else if (type == 'S') {
			console.log('not deleting section');
			console.log(section_id);
			console.log(page_id);
		};
	});


/*
	$("li.branch").on('dblclick', function(event){
		event.stopImmediatePropagation();
		event.preventDefault();
		if (current_selected_id != null) {
			var viewing = $(document.getElementById(current_selected_id));
			if(viewing.hasClass('branch')) {
				$(".viewing").each(function(){
					unmakeSelectable($(this));
				});
				enterBranch(viewing);
				$(".viewing").each(function(){
					makeSelectable($(this));
				});
				loadBranch( $(document.getElementById(current_viewing_id)) );
			} else {
				console.log('no handler yet for '+current_selected_id);
			}
		}
		if (window.getSelection) {
			if (window.getSelection().empty) {  // Chrome
				window.getSelection().empty();
			} else if (window.getSelection().removeAllRanges) {  // Firefox
				window.getSelection().removeAllRanges();
			}
		} else if (document.selection) {  // IE?
			document.selection.empty();
		}
	});
*/

});
</script>

{{def getChildren(branch):}}
	{{for node in branch : }}
		{{if node['id'] == 'root' :}}
			{{elementID = str(node['id'])+'S'}}
		{{elif not node['contains']:}}
			{{elementID = str(node['id'])+'P'+str(node['parent_object'])+'_'+str(node['page_id'])}}
		{{else:}}
			{{elementID = str(node['id'])+'S'+str(node['parent_object'])+'_'+str(node['page_id'])}}
		{{pass}}

		{{if node['title'] == '' :}}
			{{title = '*'}}
		{{else:}}
			{{title = node['title']}}
		{{pass}}


		{{if not node['contains']:}}
			<li id={{=elementID}} class='node'><span>{{=title}}</span></li>
		{{else:}}
			<li id={{=elementID}} class="branch"><span>{{=title}}</span>
				<ul class="child">
					{{getChildren(node['contains'])}}
				</ul>
			</li>
		{{pass}}
	{{pass}}
{{return}}

</head>
<body>

	<div id="sidepane">
		<center>
		<button type="button" id="back_branch"><=</button> <button type="button" id="add_page">+</button> <button type="button" id="delete_page">-</button> <button type="button" id="enter_branch">=></button>
		<button type="button" id="load_view">Load view</button>
		</center>
		<ul id="treeview">
			{{getChildren(layout)}}
		</ul>
		<div>
			Create box + layout menu
			<button type="button" id="mknewbox">Create box</button>
		</div>
	</div>
	<div id="pages">
	</div>

</body>

