<head>

	<!-- A lot of this header is copied from render/page and maybe combinable in another way -->

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- Load static page css -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/page_css.css')}}" />

	<!-- Load jQuery and jQuery-ui -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.scrollTo-1.4.3.1-min.js')}}"></script>

	<!-- Load MathJax -->
	<script type="text/javascript" src="{{=mathjax_URL}}"></script>

	<!-- Load text editor (dojo) -->
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
	<style type="text/css">
		/* bring in the claro theme */
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css";
	</style>

	<!-- Load our scripts! -->
	<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','texteditor.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'containers.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'content.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'option_bar.js')}}"></script>

	<!-- DOCUMENT READY -->
	<script type="text/javascript">
		{{ include 'render/doc_ready.js' }}
	</script>


<style>

	#treeview {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 10pt;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50%;
		overflow-x: hide;
		overflow-y: scroll;
	}

	li.branch span:hover {
		text-decoration: underline;
	}

	li.node span:hover {
		text-decoration: underline;
	}

	ul {
		list-style-type: none;
	}


	ul.child {
		position:relative;
		margin: 0;
		padding: 0;
		margin-top: 11px;
		margin-left: 5px;
	}

	li {
		margin: 0;
		padding: 0;
		width:100%;
	}

	li.parent {
		margin-top: -11px;
		margin-left: -5px;
	}

	li.add_page {
		color: blue;
	}

	li.add_page span:hover {
		text-decoration: underline;
	}

</style>

<style>

	div#sidepane {
		position: fixed;
		width: 160px;
		height: 90%;
	}
	div#pages {
		position: absolute;
		left: 200px;
		width:80%;
		height:90%;
		font-size: 12px;
	}

</style>
<script type="text/javascript">
	var serviceURL = "{{=URL('call/run')}}";
</script>

<script type="text/javascript">
var current_section = '{{=parent}}'

function getPages(sec) {
	$.get("{{=URL(c='render',f='page')}}?section="+sec, function(data){
		current_section = sec
		$('head').remove('#current_pages_css');
		$('#pages').empty();
		$('head').append($(data).filter('#current_pages_css'));
		$('#pages').append($(data).filter('.page'));
		initialise_pages();

		$(".section").on('click', function(e) {
			getPages($(e.target).attr('id').match(/page(None|\d+)_(\d+)/i)[1]);
		});
		$("#back_button").off('click').on('click', function(e) {
			$.get("{{=URL(c='navigate',f='parent')}}?section="+current_section, function(data){
				console.log(data['parent']);
				getPages(data['parent']);
			}, "json");
		});
	});
};

</script>

<script type="text/javascript">
$(document).ready(function(){

	function loadBranch(target){
		//~ getPages(target.children('ul').attr('id').match(/s(\d+)/i)[1]);
		target.addClass('parent');
		target.parent('ul').siblings('span').hide();
		target.parent('ul').siblings('.load_branch').hide();
		target.siblings().hide();
		target.children('ul').show();

	};
	function exitBranch(target){
		//~ getPages(target.parent('ul').attr('id').match(/(s(\d+)|root)/i)[1]);
		target.removeClass('parent');
		target.children('ul').hide();
		target.parent('ul').siblings('span').show();
		target.parent('ul').siblings('.load_branch').show();
		target.siblings().show();
	};

	getPages('{{=parent}}')

	$(".branch").find('ul').hide();
	$("#rootS").show();
	$("#rootS").parent('li').removeClass('branch');
	$("#rootS").children('li').addClass('viewing');
	$.scrollTo(0);

	$(".branch").on('click', function(event){
		event.stopImmediatePropagation()
		var viewing = $(event.target).parent('li');
		if(viewing.hasClass('parent')){
			exitBranch(viewing);
		} else {
			loadBranch(viewing);
		}
	});
	$('a.load_branch').on('click', function(event){
		event.stopImmediatePropagation();
		event.preventDefault();
		$('li.node').removeClass('viewing');
		var viewing = $(event.target).parent('li');
		viewing.children('ul').children('li.node,li.branch').addClass('viewing');
		var id = viewing.children('ul').attr('id').match(/(\d+|root)S/i)[1]
		getPages(id);
		if (id != 'root') {
			loadBranch(viewing);
		}
		$.scrollTo(0);
	});

	$("li.node").on('click', function(event){
		event.stopImmediatePropagation();
		event.preventDefault();
		var viewing = $(event.target).parent('li');
		var targetID = viewing.attr('id').match(/(\d+)P(None|\d+)_(\d+)/i);
		var target = $('#page'+targetID[2]+'_'+targetID[3]);
		if (viewing.hasClass('viewing')) {
			$.scrollTo(target, {duration:700, easing:'easeOutExpo', offset: {top:-15}});
		};
	});

	$("li.add_page span").on('click', function(event){
		event.stopImmediatePropagation();
		var list_entry = $(event.target).parent('li').parent('ul');
		var sectionID = list_entry.attr('id').match(/(root|\d+)S/i)[1];
		$.post("{{=URL(c='default',f='create_page')}}?parent="+sectionID, function(data){
			var page_id = data['page_id'];
			var node_id = data['page_id'];

			$.get("{{=URL(c='render',f='page')}}?pages="+page_id, function(data){
				$('head').append($(data).filter('#current_pages_css'));
				$('#pages').append($(data).filter('.page'));
				initialise_pages();

				$("<li id="+node_id+"P"+sectionID+"_"+page_id+" class='node'><span>*</span></li>").insertBefore(list_entry.children('li.add_page'));
				$.scrollTo($('#page'+sectionID+"_"+page_id), {duration:700, easing:'easeOutExpo', offset: {top:-15}});

			});

		}, 'json');
	});

});
</script>

{{def getChildren(branch):}}
	{{for node in branch : }}
		{{if node['id'] == 'root' :}}
			{{elementID = str(node['id'])+'S'}}
		{{elif not node['contains']:}}
			{{elementID = str(node['id'])+'P'+str(node['parent_id'])+'_'+str(node['page_id'])}}
		{{else:}}
			{{elementID = str(node['id'])+'S'+str(node['parent_id'])+'_'+str(node['page_id'])}}
		{{pass}}

		{{if node['title'] == '' :}}
			{{title = '*'}}
		{{else:}}
			{{title = node['title']}}
		{{pass}}


		{{if not node['contains']:}}
			<li id={{=elementID}} class='node'><span>{{=title}}</span></li>
		{{else:}}
			<li class="branch"><span>{{=title}}</span> <a class='load_branch' href="#">Go Here</a>
				<ul id={{=elementID}} class="child">
					{{getChildren(node['contains'])}}
					<li class="add_page"><span>Add Page</span></li>
				</ul>
			</li>
		{{pass}}
	{{pass}}
{{return}}

</head>
<body>

	<div id="sidepane">
		<button type="button" id='back_button'>Go back</button>
		<button type="button" id="mknewbox">Create box</button>
		<ul id="treeview">
			{{getChildren(layout)}}
		</ul>
	</div>
	<div id="pages">
	</div>

</body>

