<head>

	<!-- A lot of this header is copied from render/page and maybe combinable in another way -->

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- Load static page css -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/page_css.css')}}" />

	<!-- Load jQuery and jQuery-ui -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>

	<!-- Load MathJax -->
	<script type="text/javascript" src="{{=mathjax_URL}}"></script>

	<!-- Load text editor (dojo) -->
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
	<style type="text/css">
		/* bring in the claro theme */
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css";
	</style>

	<!-- Load our scripts! -->
	<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','texteditor.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'containers.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'content.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'option_bar.js')}}"></script>

	<!-- DOCUMENT READY -->
	<script type="text/javascript">
		{{ include 'render/doc_ready.js' }}
	</script>

<style>

	div#sidepane {
		position: absolute;
		width: 150px;
		height: 90%;
	}
	#oldpageview {
		position: absolute;
		margin:0;
		border:0;
		padding:0;
		top: 50px;
		right: 0px;
		height:250px;
		width:350px;
	}
	div#pages {
		position: absolute;
		left: 200px;
		width:80%;
		height:90%;
	}
	#pageview {
		margin:0;
		border:0;
		padding:0;
		width:100%;
		height:100%;
	}

</style>
<script type="text/javascript">
	var serviceURL = "{{=URL('call/run')}}";
</script>
<script type="text/javascript">
$(document).ready(function(){

//~ $("#pageview").attr("src","{{=URL(c='render',f='page',vars=dict(section='root'))}}");
$.get("{{=URL(c='render',f='page',vars=dict(section=parent))}}", function(data){
	$('head').append($(data).filter('#current_pages_css'));
	$('#pages').append($(data).filter('.page'));
	initialise_pages();
});


});
</script>

</head>
<body>

	<div id="sidepane">
		<!-- <iframe id="oldpageview" name="previouspage"></iframe> -->
	</div>
	<div id="pages">
		<!-- <iframe id="pageview" name="currentpages"></iframe> -->
	</div>

</body>

