<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- Load static page css -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/page_css.css')}}" />
	<!-- Load dynamic box css -->
	<style id='current_pages_css' type="text/css">
		{{ include 'render/dynamic_css.css' }}
	</style>
	<!-- Load jQuery and jQuery-ui -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
	<script type="text/javascript" src="{{=URL('static/js','jquery.jeditable.js')}}"></script>

	<!-- Load MathJax -->
	<script type="text/javascript" src="{{=mathjax_URL}}"></script>

	<!-- Load text editor (dojo) -->
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
	<style type="text/css">
		/* bring in the claro theme */
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css";
	</style>

	<!-- Load our scripts! -->
	<script type="text/javascript" src="{{=URL('static/js','protect_text.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js','texteditor.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'crossbox.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'containers.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'content.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'option_bar.js')}}"></script>

	<!-- DOCUMENT READY -->
	<script type="text/javascript">
		{{ include 'render/doc_ready.js' }}
		$(document).ready(function(){
			initialise_pages();
		});
	</script>
</head>
<body>
{{for page_id, parent_id in page_order:}}
	{{if page_id in pages:}}
		<div class="page" id="page{{=parent_id}}_{{=page_id}}">
			{{=DIV(SPAN(pages[page_id].title, _id="title"+page_id, _class="title_bar"), _class="title_bar")}}
	{{else:}}
		<div class="page section" id="page{{=parent_id}}_{{=page_id}}">
			{{=DIV(SPAN(sections[page_id].title, _id="title"+page_id, _class="title_bar"), _class="title_bar")}}
	{{pass}}
	<div id="content_area{{=page_id}}" class="content_area">
		{{for box in boxes_on_pages[page_id]:}}
			<div class="cbox" id="box{{=box['id']}}" type="{{=box['content_type']}}">
				{{ include 'render/box_content.html' }}
			</div>
		{{pass}}
	</div>
</div>
{{pass}}
<button type="button" id="printpage">Print page</button>
</body>
</html>